html,
body,
#app {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-sans);
  color: rgb(var(--color-text));
  background-color: rgb(var(--color-surface));
}

a {
  color: rgb(var(--color-brand));
}

